# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# Catálogos externos
# TMDB: https://www.themoviedb.org/settings/api (Read Access Token v4)
TMDB_READ_ACCESS_TOKEN=
# RAWG: https://rawg.io/apidocs (gratuita)
RAWG_API_KEY=
